html {
    background-color: var(--blue);
    color: white;
}

#page-content {
  max-height: 100vh;
  max-height: calc(100 * var(--vh));
  position: relative;
}

@media only screen and (max-width:980px) {
  #logo {
    display: none;
  }
}

form h2 {
    margin: 0 auto 0.75rem;
}

form {
    position: relative;
    min-height: 100vh;
    min-height: calc(100 * var(--vh));
}

.step {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(100%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: ease-out 0.5s;
    z-index: 10000;
}

.step.active {
    right: unset;
    visibility: visible;
    transform: translate(0, -50%);
    opacity: 1;
}

.step.past {
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(-100%, -50%);
}


.formbuttons {
    display: flex;
    justify-content: space-between;
}

.formbuttons.end {
    justify-content: flex-end;
}

/* FORM FIELDS */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 1rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 1rem;
    border-radius: 0;
}

.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
}

.form__field.error {
  border-bottom: 2px solid red;
  color: red !important;
}

.form__field.error:focus {
  border-image: linear-gradient(to right, #ff0000, #ff0000);
  border-image-slice: 1;
}

.form__field.error + .form__label {
  color: red !important;
}

.form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #ffffff, #ffffff);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}


/* Checkboxes */

* {
    box-sizing: border-box;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
  }
  input[type="checkbox"]:focus {
    outline: 0;
  }
  .cbx {
    position: absolute;
    width: 24px;
    height: 24px;
  }
  .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
  }
  .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
  }
  .cbx svg path {
    stroke: #1d96cd;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
  }
  .cbx input:checked + label {
    animation: splash 0.6s ease forwards;
  }
  .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
  }
  body {
    background-color: #1d96cd;
  }
  @-moz-keyframes splash {
    40% {
      background: #fff;
      box-shadow: 0 -18px 0 -8px #fff, 16px -8px 0 -8px #fff, 16px 8px 0 -8px #fff, 0 18px 0 -8px #fff, -16px 8px 0 -8px #fff, -16px -8px 0 -8px #fff;
    }
    100% {
      background: #fff;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @-webkit-keyframes splash {
    40% {
      background: #fff;
      box-shadow: 0 -18px 0 -8px #fff, 16px -8px 0 -8px #fff, 16px 8px 0 -8px #fff, 0 18px 0 -8px #fff, -16px 8px 0 -8px #fff, -16px -8px 0 -8px #fff;
    }
    100% {
      background: #fff;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @-o-keyframes splash {
    40% {
      background: #fff;
      box-shadow: 0 -18px 0 -8px #fff, 16px -8px 0 -8px #fff, 16px 8px 0 -8px #fff, 0 18px 0 -8px #fff, -16px 8px 0 -8px #fff, -16px -8px 0 -8px #fff;
    }
    100% {
      background: #fff;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @keyframes splash {
    40% {
      background: #fff;
      box-shadow: 0 -18px 0 -8px #fff, 16px -8px 0 -8px #fff, 16px 8px 0 -8px #fff, 0 18px 0 -8px #fff, -16px 8px 0 -8px #fff, -16px -8px 0 -8px #fff;
    }
    100% {
      background: #fff;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

.checkbox-container {
    display: grid;
    grid-template-columns: 24px auto;
    column-gap: 1rem;
}



input[type=submit] {
    appearance: none;
    -webkit-appearance: none;
    font: inherit;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

/* PROGRESS BAR */

#progress-container {
  position: absolute;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 105mm;
}

@media only screen and (max-width: 980px) {
  #progress-container {
    bottom: unset;
    top: 5vw;
  }
}

#progress-inner {
  display: flex;
  justify-content: space-between;
}

#route {
  border-collapse: collapse;
  border: 1px white solid;
  position: absolute;
  top: 25%;
  left: 10px;
  width: 95%;
  z-index: -1;
}

.progress-circle {
  padding: 0.5rem 0.6rem;
  line-height: .8;
  border-radius: 1000px;
  border: 1px solid white;
  background-color: var(--blue);
  transition: ease-out 0.5s;
}

.progress-circle.active {
  border: 1px solid var(--blue);
  background-color: white;
  color: var(--blue);
}